{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

{% include 'partials/_navbar.html' %}

<div class="contact-area section-padding-0-20">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <h3>Criar Pedido</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <form>
        {% csrf_token %}
        {% for field in order_form.visible_fields %}
        <div class="form-group">
            <div class="mb-3">
                <label for="{{ field.id_for_label }}"> {{ field.label }} </label>
                {{ field|add_class:'form-control' }}
                {% endfor %}
            </div>
        </div>
    </form>
</div>

<div class="col-12 text-center">
    <button class="btn delicious-btn mt-30" type="submit">Cadastrar Pedido</button>
</div>

{% endblock %}