{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include 'partials/_navbar.html' %}
 
<div class="contact-area section-padding-0-80">
   <div class="container">
       <div class="row">
           <div class="col-12">
               <div class="section-heading">
                   <h3>Cadastrar item</h3>
               </div>
           </div>
       </div>
 
       <div class="row">
           <div class="col-12">
           <p>Todos os campos são obrigatórios</p>
               <div class="contact-form-area">
                   <form action="{% url 'create_item' %}" method="post" enctype="multipart/form-data">
                           {% csrf_token %}
                       <div class="row">
                           <div class="col-12 col-lg-12">
                               <label for="item_name"><b>Nome</b></label>
                               <input type="text" id="item_name" class="form-control" name="item_name" placeholder="Ex: X-Tudo" value="{{item.name}}" required>
                           </div>
                           <div class="col-12">
                            <label for="item_price"><b>Preço</b></label>
                            <input type="text" id="item_price" class="form-control" name="item_price" placeholder="Ex: 20,00" value="{{item.price}}" required>
                            </div>
                           <div class="col-12 text-center">
                               <button class="btn delicious-btn mt-30" type="submit">Cadastrar item</button>
                           </div>
                       </div>
                   </form>
               </div>
           </div>
       </div>
   </div>
</div>
 
{% endblock %}
