{% extends 'base.html' %}
{% load static %}

{% block content %}

<div id="preloader">
    <i class="circle-preloader"></i>
    <img src="{% static 'img/core-img/pizza.png' %}" alt="">
</div>

{% include 'partials/_navbar.html' %}

<div class="contact-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <h3>Editar Itens</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
            <p>Todos os campos são obrigatórios</p>
                <div class="contact-form-area">
                    <form action="{% url 'update_item' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="text" id="item_id" class="form-control" name="item_id" value="{{item.id}}" hidden>
                        <div class="row">
                            <div class="col-12 col-lg-12">
                                <label for="item_name"><b>Nome do cliente</b></label>
                                <input type="text" id="item_name" class="form-control" name="item_name" placeholder="Ex: X-Tudo" value="{{item.name}}" required>
                            </div>
                            <div class="col-12">
                                <label for="item_price"><b>Número de telefone</b></label>
                                <input type="text" id="item_price" class="form-control" name="item_price" placeholder="Ex: 20,00" value="{{item.price}}" required>
                            </div>
                            <div class="col-12 text-center">
                                <button class="btn btn-success" type="submit">Salvar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
