{% extends 'base.html' %}
{% load static %}

{% block content %}

<div id="preloader">
    <i class="circle-preloader"></i>
    <img src="{% static 'img/core-img/pizza.png' %}" alt="">
</div>

{% include 'partials/_navbar.html' %}

<section class="best-receipe-area">
    <div class="container">
        <div class="row">
            <h1 class="text-center">Clientes</h1>
            {% if clients %}
            <div>
                <div class="m-2">
                    <a href="{% url 'create_client' %}" type="button" class="btn btn-info">Cadastrar Cliente</a></td>
                </div>
                <table class="table table-bordered">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Número</th>
                        <th scope="col">Endereço</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                {% for client in clients %}
                    <tr>
                        <td><a href="{% url 'get_client' client.id %}">{{ client.name }}</a></td>
                        <td>{{ client.phone }}</td>
                        <td>{{ client.address }}</td>
                        <td class="text-center"><a href="{% url 'edit_client' client.id %}" type="button" class="btn btn-warning">Editar</a></td>
                        <td class="text-center"><a href="{% url 'delete_client' client.id %}" type="button" class="btn btn-danger">Deletar</a></td>
                    </tr>
                {% endfor %}
            {% else %}
            {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock %}
