{% extends 'base.html' %}
{% load static %}

{% block content %}

<div id="preloader">
    <i class="circle-preloader"></i>
    <img src="{% static 'img/core-img/pizza.png' %}" alt="">
</div>

{% include 'partials/_navbar.html' %}

<div class="contact-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <h3>Editar Cliente</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
            <p>Todos os campos são obrigatórios</p>
                <div class="contact-form-area">
                    <form action="{% url 'update_client' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="text" id="client_id" class="form-control" name="client_id" value="{{client.id}}" hidden>
                        <div class="row">
                            <div class="col-12 col-lg-12">
                                <label for="client_name"><b>Nome do cliente</b></label>
                                <input type="text" id="client_name" class="form-control" name="client_name" placeholder="Ex: Joaquim Silva" value="{{client.name}}" required>
                            </div>
                            <div class="col-12">
                                <label for="client_phone"><b>Número de telefone</b></label>
                                <input type="text" id="client_phone" class="form-control" name="client_phone" placeholder="Ex: 91 98000-0000" value="{{client.phone}}" required>
                            </div>
                            <div class="col-12">
                                <label for="file"><b>Endereço</b></label>
                                <textarea class="form-control" name="client_address" cols="30" rows="10" placeholder="Ex: Rua das Laranjeiras, 510" required>{{client.address}}</textarea>
                            </div>
                            <div class="col-12 text-center">
                                <button class="btn btn-success" type="submit">Salvar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
